backports.weakref==1.0.post1
bleach==1.5.0
bunch==1.0.1
certifi==2020.6.20
enum34==1.1.10
funcsigs==1.0.2
futures==3.4.0
graphviz==0.16
h5py==2.7.1
html5lib==0.9999999
joblib==0.14.1
Keras==2.1.5
Markdown==3.1.1
mock==3.0.5
numpy==1.16.6
protobuf==3.17.3
pydot==1.2.4
pydotplus==2.0.2
pyparsing==2.4.7
PyYAML==5.4.1
scikit-learn==0.19.1
scipy==1.2.3
six==1.17.0
tensorflow==1.4.0
tensorflow-tensorboard==0.4.0
Werkzeug==1.0.1
